@page "/room"

<!DOCTYPE html>
<html>
<body>
    <div class="main">
        <div class="bowl" id="dicebox">
            <img class="bg_img" src="_content/BoBing.Shared/images/bowl.jpg" />
        </div>
    </div>

    <div class="btn-box">
        <input class="btn" type="button" value="开始" @onclick="StartDice" />
    </div>
</body>
</html>
